body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #00b09b, #96c93d);    padding: 0;
    height: 100vh;
}

.grid-row {
    display: flex;
}
.grid-cell {
    flex: 1;
    /* background-color: yellow; */
    aspect-ratio: 1;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */
    opacity: 1;
}
#grid {
    /* border-top: 1px solid black;
    border-left: 1px solid black; */
    width: 95%;
    max-width: 620px;
    margin: auto;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* border: 1px dashed black; */
    background-color: white;
    padding: 4px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
    position: sticky;
    background-color: rgba(0, 0, 0, 0.7);
}
header h1 {
    margin: 0;
    font-size: 2em;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    
}

.tools {
    position: relative;
    width: 40px;
    aspect-ratio: 1;
    margin: 4px;
    background-size: cover;
    border-radius: 4px;
}
#grid-tool {
    background-image: url(images/grid-tool.png);
}
#color-picker {
    background-image: url(images/color-picker.png)
}
#color-picker input[type="color"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
#rainbow-mode {
    background-image: url(images/rainbow-mode.png);
}
#shading-tool {
    background-image: url(images/shading-tool.png);
}
#eraser-tool {
    background-image: url(images/eraser-tool.png);
}
#clear-canvas {
    background-image: url(images/clear-canvas.png);
}
.tools:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.tools::after {
    content: attr(data-tooltip);
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute; /* Positioned relative to .tools */
    z-index: 1;
    bottom: 125%; /* Position above the .tools element */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tools::before {
    content: "";
    visibility: hidden;
    position: absolute; /* Positioned relative to .tools */
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.3s;
}

.tools:hover::after,
.tools:hover::before {
    visibility: visible;
    opacity: 1;
}

/* grid tool styles  */
.sub-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
}

.sub-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: white;
}

.sub-menu button:hover {
    background-color: #f1f1f1;
    color: black;
}
/* highlight for active buttons */
.highlight {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    border: 4px solid aqua;
}

/* hidden class for hiding elements */
.hidden {
    display: none;
}

